.form-register.form-edit
  h1 Настройки профиля
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      label.form-label Email
      = f.input :email, label: false, required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        p
          | Currently waiting confirmation for: #{resource.unconfirmed_email}
      label.form-label Пароль
      = f.input :password, label: false, autocomplete: "off", hint: false, required: false
      label.form-label Новый пароль
      = f.input :password_confirmation, label: false, required: false
      label.form-label Повторите новый пароль
      = f.input :current_password, label: false, hint: false, required: true
    .form-actions
      = f.button :submit, "Обновить"
  /h3 Удалить аккаунт
  p
    | Удалить аккаунт? #{link_to "Удалить", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete}
  = link_to "Назад", :back
