.mask
.form-add
  = simple_form_for Storage.new, :remote => 'true', :html => {:multipart => true, class: "simpleForm"} do |f|
    .form-add-header
      .area.clear
        .row
          .col-xs-2.col-md-2.col-lg-2
              span Добавить сайт
          .col-xs-8.col-md-8.col-lg-8
            .logo
              a.nav-logo href="/"
                img src="/assets/logo/savepass-white.png"
          .col-xs-2.col-md-2.col-lg-2
            .close-size
              //i.fa.fa-arrows-alt.size
              i.fa.fa-close.form-add-close
            
    .form-input
      label URL: 
      = f.input :url, required: false, label: false, input_html: { class: "inputForm fio_form" }, placeholder: false
      label Имя: 
      = f.input :name, required: false, label: false, input_html: { class: "inputForm email_form" }, placeholder: false
      label Имя пользователя:
      = f.input :login, required: false, label: false, input_html: { class: "inputForm phone_form" }, placeholder: false
      label Пароль:
      = f.input :password, required: false, label: false, input_html: { class: "inputForm phone_form" }, placeholder: false
      label Заметки:
      = f.input :note, required: false, label: false, input_html: { class: "inputForm phone_form", :cols => 2, :rows => 4 }, placeholder: false
    /= f.text_area :message, required: false, label: false, input_html: { class: "inputForm message_form" }, placeholder: 'Текст сообщения'
    = f.button :submit, 'Отправить', class: 'btn-successable'
    
