.site-content-list
  .area
    .row
      ul
        - @storages.each do |x| 
          - if x.user_id == current_user.id
          .all-item.cur_item-list data-item_id=x.id 
            .col-lg-7.col-md-7.col-sm-7.col-xs-7
              li.list
                .details
                  h3 =x.name
                .btn-settings
                  i.star.fa.fa-star-o
                  i.edit.fa.fa-edit
                  i.del.fa.fa-trash
                  a.url href=""
                    =x.url
            .col-lg-5.col-md-5.col-sm-5.col-xs-5
                span 
                  p =x.created_at.strftime("%m/%d/%Y")
                  label.form-label.check
                    input type="checkbox"
                    span.label-text
