- @storages.each do |x| 
  - if x.user_id == current_user.id
    .col-lg-3.col-md-4.col-sm-6.col-xs-6.pd.cur_item data-item_id=x.id data-item_favourite=x.favourite
      .site-item
        .site-settings
          label.form-label.check
            input type="checkbox" /
            span.label-text
          .btn-settings 
            i.star.fa.fa-star-o
            i.edit.fa.fa-edit 
            i.del.fa.fa-trash
        .site-img
          img src=x.logo
        .site-name-and-login
          h4.url =x.name
          h5.mail 
            a =link_to "#{x.url}", :target => "_blank"
              =x.url
        a.btn-more
          | Скопировать
