//=render "editprofile"
=render "addform"
=render "notification"
//-if !current_user.auth 
  =render "auth"
.profile
  .nav-profile
    .area
      .row
        .col-xs-4.col-sm-6.col-md-6
          .logo
            a.nav-logo href="/"
              img src="/assets/logo/savepass-white.png"
        .col-xs-8.col-sm-6.col-md-6
          .profile-inform.clear
            p.user-email
              = current_user.email
            .img-profile
            i.fa.fa-angle-down
            .menuList 
              ul
                li 
                  a.nav-list-link=link_to '#'
                    =current_user.last_sign_in_ip
                li 
                  a.nav-list-link=link_to '#'
                    =current_user.last_sign_in_at.strftime(" Заходил %d/%m/%y в %I:%M%p") 
                li 
                  a.nav-list-link =link_to 'Настройки профиля', edit_user_registration_path
                li 
                  a.nav-list-link =link_to 'Выйти', destroy_user_session_path, :method => :delete
  .bar-profile  
    .area
      .row
        .col-lg-10.col-xs-8.col-sm-8.col-md-10
          .wrapper
            .icon-search-container data="search-trigger" 
              span.fa.fa-search
              input.search-input data="search-input" placeholder="Поиск" type="text" /
              span.fa.fa-times-circle data="search-clear" 

        .col-lg-2.col-xs-4.col-sm-4.col-md-2
          .grid-or-list
            i.fa.fa-th.grid
            i.fa.fa-list.list
  .btn-add
    i.add.fa.fa-plus
  =render "contentgrid"
  =render "contentlist"
        /.col-lg-3.col-md-4.col-sm-6.col-xs-6.pd
        /  .site-item
        /    .site-settings
        /      input.check type="checkbox"
        /      .btn-settings
        /        a href="#" 
        /          i.edit.fa.fa-edit
        /        a href="#" 
        /          i.del.fa.fa-trash
        /    .site-img
        /      img src="/assets/logo/lofo.jpg"
        /    .site-name-and-login
        /      h4.url www.amazon.com
        /      h5.mail =current_user.email
